.content {
    max-width: 400px;
    margin: auto;
    /* TODO: idk who should do when relying on margin auto to centre, maybe just need media queries? */
    padding: 4px;
}

.response {
    height: 200px;
    resize: none;
}

.qrcode,
.url,
.response {
    /* TODO: probs could be less dumb */
    margin-bottom: 4px;
}


/* TODO: ugh; */
button {
    /* makes buttons same height as url field, idk tho... */
    height: 42px;
}


/* TODO: CHANGE? dumb to make it show copy on the right */
.url_wrapper {
    overflow: hidden;
    padding-right: 4px;
}

.url_copy {
    float: right;
}

.url {
    width: 100%;
}

/* copy response */
.response_copy {
    float: right;
}
