/* Grid */
.content {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    grid-template-areas:
        "qrcode qrcode qrcode"
        "url url url_copy"
        "response response response"
        "response_show . response_copy"
    ;

    grid-gap: 4px;
    margin: 0 auto;
    max-width: 400px;

    /* TODO: kinda bluh; */
    padding: 4px;
}
.qrcode {
    grid-area: qrcode;
}
.url {
    grid-area: url;
}
.url_copy {
    grid-area: url_copy;
}
.response {
    grid-area: response;
}
.response_show {
    grid-area: response_show;
}
.response_copy {
    grid-area: response_copy;
}

/* Response */
.response {
    height: 200px;
    resize: none;
}

/* makes all buttons same height as url field button */
button {
    height: 42px;
}
