.layout {
    margin: 4px;
}

/* Grid */
.content {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    grid-template-areas:
        "qrcode qrcode qrcode"
        "url url url_copy"
        "response response response"
        "response_show . response_copy"
    ;

    grid-gap: 4px;
    margin: 0 auto;
    max-width: 400px;
}
.qrcode {
    grid-area: qrcode;
}
.url {
    grid-area: url;
}
.url_copy {
    grid-area: url_copy;
}
.response {
    grid-area: response;
}
.response_show {
    grid-area: response_show;
}
.response_copy {
    grid-area: response_copy;
}

/* Response */
.response {
    height: 200px;
    resize: none;
}

/* makes all buttons same height as url field button */
button {
    height: 42px;
}

/* makes the response show button stay the same width when the icon is changed */
.response_show {
    width: 54px;
}

/* Dark Theme */
@media (prefers-color-scheme: dark) {
    /* TODO: could maybe do this more efficiently by modifying marx's scss $primary and exporting */
    body {
        background-color: #36454f;
    }

    button {
        background-color: #c9bab0;
        color: #434343;
    }

    button:hover {
        background-color: #b9a699;
        border-color: #b4a092;
        color: #434343;
    }

    button:focus {
        box-shadow: 0 0 0 0.2rem #c9bab080;
    }

    button:not(:disabled):active {
        background-color: #b4a092;
        border-color: #af998a;
        color: #434343;
    }

    input[type="text"]:focus,
    textarea:focus {
        border-color: #e4ddd8;
        box-shadow: 0 0 0 0.2rem #c9bab040;
    }
}
